// @import 'colors';

// #aside {
//     grid-area: aside;
// }

// #main {
//     grid-area: main;
// }

// #foot {
//     grid-area: foot;
// }

// #root {
//     width: 100vw;
//     height: 100vh;
//     display: grid;
//     grid-gap: .5em;
//     grid-template-rows: min-content 1fr 80px;
//     grid-template-columns: auto;
//     grid-template-areas:
//         "main"
//         "aside"
//         "foot"
// }

// @media only screen and (min-width: 600px) {
//     #root {
//         grid-template-rows: min-content 1fr 1fr 80px;
//         grid-template-columns: auto;
//         grid-gap: 1em;
//         grid-template-areas:
//             "main    main"
//             "aside   aside"
//             "foot    foot";
//     }
// }

// @media only screen and (min-width: 900px) {
//     #root {
//         grid-template-rows: min-content 1fr 80px;
//         grid-template-columns: 2fr 1fr; //1fr 2fr;
//         grid-template-areas: "main    aside aside"
//             "foot    foot foot";
//     }
// }

// #root {
//     background-color: #fff;
// }

// .box {
//     background-color: $primary-light;
//     color: $text-dark;
//     border-radius: 3px;
//     padding: 10px;
// }

// #main {
//     background-color: $primary-dark;
//     color: $text-light;
// }

// #aside {
//     background-color: $primary-main;
//     color: $text-light;
// }

// #foot {
//     background-color: $secondary-light;
//     color: $text-dark;
//     text-align: center;
// }

@import 'colors';

body,
html {
    height: 100%;
    margin: 0;
}

.wrapper {
    height: 100%;
    flex: 2;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 4;
    display: flex;
    flex-direction: row;
}

.left {
    flex: 1 0 30%;
    background-color: #eee;
    align-content: space-around;
    /* Red for visibility */
    flex-direction: column;
    justify-content: center;
}

.right {
    flex: 2 0 30%;
    background-color: #0f0;
    align-content: space-around;
    /* Green for visibility */
}

.footer {
    flex: 1 0 30%;
    background-color: #00f;
    /* Blue for visibility */
}

.slider-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 24px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #646464;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked+.slider {
    background-color: #4b4d4b;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(65px);
    -ms-transform: translateX(65px);
    transform: translateX(65px);
}

/*------ ADDED CSS ---------*/
.on {
    display: none;
    left: 2px;
}

.on,
.off {
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 52%;
    font-size: 10px;
}

input:checked+.slider .on {
    display: block;
}

input:checked+.slider .off {
    display: none;
}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}