@import 'colors';

body,
html {
    margin: 0;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.container {
    flex: 3;
    display: flex;
    flex-direction: row;
}

.left {
    flex: 1;
    background-color: #eee;
}

.center {
    flex: 1;
    background-color: #eee;
    display: flex;
    flex-direction: column;

    .top {
        flex: 1;
        // Add styles for the top div here
    }

    .down {
        flex: 1;
        // Add styles for the down div here
    }
}

.right {
    flex: 1;
    background-color: #eee;
}

.footer {
    flex: 1;
    background-color: #eee;
}

//following is all for the slider

.slider-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1vh;
}

.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 24px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #69b3a2;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked+.slider {
    background-color: #404240;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(75px);
    -ms-transform: translateX(75px);
    transform: translateX(75px);
}

.on {
    display: none;
    left: 2px;
}

.on,
.off {
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
}

input:checked+.slider .on {
    display: block;
}

input:checked+.slider .off {
    display: none;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

// #sidebar {
//     grid-area: sidebar;
// }

// #aside {
//     grid-area: aside;
// }

// #main {
//     grid-area: main;
// }

// #head {
//     grid-area: head;
// }

// #foot {
//     grid-area: foot;
// }

// #root {
//     width: 100vw;
//     height: 100vh;
//     display: grid;
//     grid-gap: .5em;
//     grid-template-rows: min-content 60px 1fr 1fr 80px;
//     grid-template-columns: auto;
//     grid-template-areas:
//         "head"
//         "sidebar"
//         "main"
//         "aside"
//         "foot"
// }

// @media only screen and (min-width: 600px) {
//     #root {
//         grid-template-rows: min-content 1fr 1fr 80px;
//         grid-template-columns: 100px auto;
//         grid-gap: 1em;
//         grid-template-areas:
//             "head    head"
//             "main    main"
//             "sidebar aside"
//             "foot    foot";
//     }
// }

// @media only screen and (min-width: 900px) {
//     #root {
//         grid-template-rows: min-content 1fr 80px;
//         grid-template-columns: 100px 2fr 1fr;
//         grid-template-areas:
//             "head    head head"
//             "sidebar main aside"
//             "foot    foot foot";
//     }
// }

// #root {
//     background-color: #fff;
// }

// .box {
//     background-color: $primary-light;
//     color: $text-dark;
//     border-radius: 3px;
//     padding: 10px;
// }

// #main {
//     background-color: $primary-dark;
//     color: $text-light;
// }

// #aside {
//     background-color: $primary-main;
//     color: $text-light;
// }

// #head,
// #foot {
//     background-color: $secondary-light;
//     color: $text-dark;
//     text-align: center;
// }