@import 'colors';

body,
html {
    margin: 0;
    background-color: #eee;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.container {
    flex: 3;
    display: flex;
    flex-direction: row;
}

.left {
    flex: 1;
}

.center {
    flex: 1;
    display: flex;
    flex-direction: column;

    .top {
        flex: 1;
    }

    .down {
        flex: 1;
    }
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;

    .pca-title {
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        padding-top: 1.5vh;
    }

    .pca-plot {
        flex: 1;
    }
}

.footer {
    flex: 1;
}

// .right,
// .left,
// .center,
// .footer {
//     margin: 2px;
//     border: 2px solid #000;
//     border-radius: 15px;
//     -moz-border-radius: 15px;
// }

//following is all for the slider

.slider-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1vh;
}

.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 24px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #69b3a2;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked+.slider {
    background-color: #BF5B17;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(75px);
    -ms-transform: translateX(75px);
    transform: translateX(75px);
}

.on {
    display: none;
    left: 2px;
}

.on,
.off {
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
}

input:checked+.slider .on {
    display: block;
}

input:checked+.slider .off {
    display: none;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
    //border: 1px #eed solid;
}